.atom-button {
	background: white;
	border: none;
	font-size: var(--fs-h6);
	padding: 1rem 2rem;
	font-family: var(--ff-primary);
	width: 100%;
	text-transform: uppercase;
}

.atom-button:hover {
	cursor: pointer;
	background: #000000cf;
	outline: 2px solid black;
}

.atom-button:active {
	color: var(--text-hover-clr);
}

._btn-primary {
	outline: 1px solid black;
	background-color: black;
	color: white;
	font-weight: 500 !important;
}

._btn-secondary {
	outline: 1px solid white;
	color: white;
	background: black;
}

@media screen and (min-width: 1000px) {
	.atom-button {
		padding: 0.7rem 1.5rem;
	}

	._btn-primary,
	._btn-secondary {
		outline: 1px soild;
	}
}

@media screen and (min-width: 1400px) {
	.atom-button {
		/* width: auto; */
	}
}
